<section class="section app-section">

  <div class="card app-card">
    <header class="card-header">
      <p class="card-header-title">
        <img class="app-logo" src="../assets/beer.png" width="60" style="transform: rotate(-10deg);">

        Calculadora de Bebida

        <img class="app-logo" src="../assets/beer.png" width="60" style="transform: rotate(10deg);">
      </p>
    </header>
    <div class="card-content">
      <div class="field">
        <label class="label">Mililitros (ml)</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select [formControl]="lataMililitros">
              <option *ngFor="let lata of lataTamanhos; let i = index" [value]="lata.tamanho">
                {{lata.nome}} ({{lata.tamanho}}ml)
              </option>

            </select>
          </div>
          <!-- <input class="input is-medium" type="number" [formControl]="ml"> -->
        </div>
      </div>

      <div class="field">
        <label class="label">Quantidade (qtd)</label>
        <div class="control">
          <input class="input is-medium" type="number" [formControl]="lataQuantidade">
        </div>
      </div>

      <div class="field">
        <label class="label">Preço (R$)</label>
        <div class="field has-addons">
          <div class="control">
            <input class="input is-medium is-static" type="text" value="R$" style="width: 40px;">
          </div>
          <div class="control is-expanded">
            <input class="input is-medium" type="number" [formControl]="lataPreco">
          </div>
        </div>
      </div>
    </div>



    <footer class="card-footer is-fullcentered  app-card__footer">
      <div *ngIf="!resultado">
        <p></p>
      </div>
      <div *ngIf="resultado">
        <p>Média por litro</p>
        <p><span [innerHTML]="resultado"></span></p>
      </div>
    </footer>
  </div>

  <router-outlet></router-outlet>
</section>